body{
    background-color:blue;
}


#board{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height:1200px;
    width:1200px;
    margin:auto;
    background-color:green;
    

}


#square{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:48px;
    border:2px black solid;
    background-color:Gray;
    margin:0px;

}

form{
    align-self:center;
    display:none;
    font-size:40px;
    width:500px;
}

label{
    font-size:40px;
}

input[type='text']{
font-size:40px;
background-color:skyblue;
}