body{
    background-color:blue;
}


#board{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height:600px;
    width:600px;
    margin:auto;
    background-color:green;
    

}

#hud{
    align-self:center;
    text-align:center;
    margin-top:20px;
    font-size:36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(230, 54, 0);
}
#start{
    margin:auto;
    width:250px;
    background-color:beige;
    height:100px;
    font-size:42px;
    box-shadow:2px 2px 2px 2px;
    border-radius:12px;
    font:heavy;
    align-self:center;
    position:absolute;
    top:40%;
    left:40%;

}


#submit{
    margin:auto;
    margin-top:40px;
    display:none;
    font-size:40px;
    background-color:red;
}

#square{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:48px;
    border:2px black solid;
    background-color:Gray;
    margin:0px;

}

form{
    margin:auto;
    margin-top:100px;
    align-items:center;
    justify-content:center;
    display:none;
    flex-direction:column;
    gap:20px;
    width:200px;
    font-size:40px;
}

label{
    font-size:40px;
}

input[type='text']{
font-size:40px;
background-color:skyblue;
}